{% load static %}

<div class="scroll-nav-wrap fl-wrap">
 <div class="scroll-down-wrap">
  <div class="mousey">
   <div class="scroller"></div>
  </div>
  <span>Scroll Down</span>
 </div>
 <nav class="scroll-nav scroll-init">
  <ul>
   <li><a class="scroll-link act-link" href="#sec1">Hero</a></li>
   <li><a class="scroll-link" href="#sec2">About</a></li>
   <li><a class="scroll-link" href="#sec3">Resume</a></li>
   <li><a class="scroll-link" href="#sec4">Skills</a></li>
   <li><a class="scroll-link" href="#sec5">Projects</a></li>
   <li><a class="scroll-link" href="#sec6">Clients</a></li>
  </ul>
 </nav>
</div>