{% load static %}

<div class="hero-wrap" id="sec1" data-scrollax-parent="true">
 <div class="hero-inner fl-wrap full-height">
  <div class="half-hero-wrap">
   <h1>Hey there!<br>I'm Martin Solonick<br>Independent 
    <span> Digital Designer </span>
   </h1>
   <h4>I create web and graphic design</h4>
   <div class="clearfix"></div>
   <a href="#sec2" class="custom-scroll-link btn float-btn flat-btn color-btn mar-top">Let's Start</a>
  </div>
  <div class="slideshow-container" data-scrollax="properties: { translateY: '200px' }">
   <div class="slideshow-item">
    <div class="bg" data-bg="{% static 'images/bg/16.jpg' %}"></div>
   </div>
   <div class="slideshow-item">
    <div class="bg" data-bg="{% static 'images/bg/9.jpg' %}"></div>
   </div>
   <div class="slideshow-item">
    <div class="bg" data-bg="{% static 'images/bg/24.jpg' %}"></div>
   </div>
  </div>
  <div class="overlay"></div>
  <!--hero dec-->
  <div class="hero-decor-let">
   <div>Web Design</div>
   <div><span>Ui/Ux Design</span></div>
   <div>Branding</div>
   <div><span>Ecommerce</span></div>
  </div>
  <div class="hero-decor-numb">
   <span>40.7143528 </span><span>-74.0059731 </span> 
   <a href="https://www.google.com.ua/maps/" target="_blank" class="hero-decor-numb-tooltip">Based In NewYork</a>
  </div>
  <div class="pattern-bg"></div>
  <div class="hero-line-dec"></div>
 </div>
</div>