{% load static %}

<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

<link type="text/css" rel="stylesheet" href="{% static 'css/all.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/github.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/color.css' %}">