{% extends 'base/base.html' %}

{% load static %}

{% block keywords %} {% endblock %}

{% block description %} {% endblock %}

{% block title %} Portfolio {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %} {% endblock %}

{% block header %} {% include 'partials/_header.html' %} {% endblock %}

{% block wrapper %} {% endblock %}

{% block content %}

<div class="single-page-decor"></div>
<div class="single-page-fixed-row">
  <div class="scroll-down-wrap">
    <div class="mousey">
      <div class="scroller"></div>
    </div>
    <span>Scroll Down</span>
  </div>
</div>

<section class="parallax-section dark-bg sec-half parallax-sec-half-right" data-scrollax-parent="true">
  <div class="bg par-elem" data-bg="{% static 'images/bg/3.jpg' %}" data-scrollax="properties: { translateY: '30%' }">
  </div>
  <div class="overlay"></div>
  <div class="pattern-bg"></div>
  <div class="container">
    <div class="section-title">
      <h2>Our <span>realized</span> <br> and future projects</h2>
      <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
        hidden in the middle of text. </p>
      <div class="horizonral-subtitle"><span>PROJECTS</span></div>
    </div>
    <a href="#sec1" class="custom-scroll-link hero-start-link"><span>Let's Start</span> <i
        class="fal fa-long-arrow-down"></i></a>
  </div>
</section>

<section data-scrollax-parent="true" id="sec1">
  <div class="section-subtitle" data-scrollax="properties: { translateY: '150px' }">Portfolio<span>//</span></div>
  <div class="container">

    <div class="filter-holder inline-filter fl-wrap  mar-bottom">
      <div class="filter-button"><i class="fal fa-filter"></i> <span>Filter : </span></div>
      <div class="gallery-filters">
        <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">All</a>

        {% for category in categories %}
        <a href="#" class="gallery-filter" data-filter=".{{ category.name }}">{{ category.name }}</a>
        {% endfor %}

      </div>
      <div class="folio-counter">
        <div class="num-album"></div>
        <div class="all-album"></div>
      </div>
    </div>

    <div class="gallery-items spad  vis-box-det white-det three-column">
      {% if projects %}

      {% for project in projects %}
      <div class="gallery-item {{ project.category }}">
        <div class="grid-item-holder">

          {% if project.video %}
          <a href="{{ project.video.url }}" class="fet_pr-carousel-box-media-zoom image-popup">
            <i class="fal fa-play"></i>
          </a>
          {% else %}
          <a href="{{ project.imageURL }}" class="fet_pr-carousel-box-media-zoom image-popup">
            <i class="fal fa-search"></i>
          </a>
          {% endif %}
          <img src="{{ project.imageURL }}" alt="">
          <div class="box-item hd-box">
            <div class=" fl-wrap full-height">
              <div class="hd-box-wrap">
                <h2><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h2>
                <p>
                  <a href="{{ project.category.get_absolute_url }}">{{ project.category.name }}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% else %}

      {% endif %}
    </div>
  </div>
  <div class="sec-lines"></div>
</section>

<section class="dark-bg2 small-padding order-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Ready To order Your Project ?</h3>
      </div>
      <div class="col-md-4"><a href="contscts.html" class="btn flat-btn color-btn">Get In Touch</a> </div>
    </div>
  </div>
</section>

{% endblock %}

{% block footer %} {% include 'partials/_footer.html' %} {% endblock %}

{% block extrascripts %} {% endblock %}