{% load static %}


<section data-scrollax-parent="true">
 <div class="section-subtitle right-pos" data-scrollax="properties: { translateY: '-250px' }">
  <span>//</span>attainments</div>
 <div class="container">
  
  <div class="fl-wrap mar-bottom skill-wrap">
   <div class="row">
    <div class="col-md-4">
     <div class="pr-title fl-wrap">
      <h3>Design Skills</h3>
      <span>Lorem Ipsum generators on the Internet king this the first true generator</span>
     </div>
     <div class="ci-num"><span>01. - </span></div>
    </div>
    <div class="col-md-8">
 
     <div class="piechart-holder animaper" data-skcolor="#FAC921">
      <div class="row">
       
       <div class="piechart">
        <span class="chart" data-percent="85">
         <span class="percent"></span>
        </span>
        <h4>Design</h4>
       </div>
      
       <div class="piechart">
        <span class="chart" data-percent="95">
         <span class="percent"></span>
        </span>
        <h4>Branding</h4>
       </div>
   
       <div class="piechart">
        <span class="chart" data-percent="80">
         <span class="percent"></span>
        </span>
        <div class="clearfix"></div>
        <h4>Ecommerce</h4>
       </div>

      </div>
     </div>
    </div>

   </div>
  </div>

  <div class="fl-wrap mar-bottom   mar-top skill-wrap">
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
     <div class="pr-title fl-wrap">
      <h3>Developer Skills</h3>
      <span>Lorem Ipsum generators on the Internet king this the first true generator</span>
     </div>
     <div class="ci-num"><span>02. - </span></div>
    </div>
    <div class="col-md-6">
     <div class="skillbar-box animaper">

      <div class="custom-skillbar-title"><span>Photoshop</span></div>
      <div class="skill-bar-percent">95%</div>
      <div class="skillbar-bg" data-percent="95%">
       <div class="custom-skillbar"></div>
      </div>

      <div class="custom-skillbar-title"><span>Jquery</span></div>
      <div class="skill-bar-percent">65%</div>
      <div class="skillbar-bg" data-percent="65%">
       <div class="custom-skillbar"></div>
      </div>
      
      <div class="custom-skillbar-title"><span>HTML5</span></div>
      <div class="skill-bar-percent">75%</div>
      <div class="skillbar-bg" data-percent="75%">
       <div class="custom-skillbar"></div>
      </div>

      <div class="custom-skillbar-title"><span>PHP</span></div>
      <div class="skill-bar-percent">71%</div>
      <div class="skillbar-bg" data-percent="71%">
       <div class="custom-skillbar"></div>
      </div>
     </div>
    </div>
   </div>
  </div>

  <div class="fl-wrap   mar-top skill-wrap">
   <div class="row">
    <div class="col-md-4">
     <div class="pr-title fl-wrap">
      <h3>Language Skills</h3>
      <span>Lorem Ipsum generators on the Internet king this the first true generator</span>
     </div>
     <div class="ci-num"><span>03. - </span></div>
    </div>
    <div class="col-md-8">
     <div class="piechart-holder animaper" data-skcolor="#FAC921">
      <div class="row">
       <div class="piechart">
        <span class="chart" data-percent="85">
         <span class="percent"></span>
        </span>
        <h4>French</h4>
       </div>
 
       <div class="piechart">
        <span class="chart" data-percent="95">
         <span class="percent"></span>
        </span>
        <h4>Dutch</h4>
       </div>

       <div class="piechart">
        <span class="chart" data-percent="80">
         <span class="percent"></span>
        </span>
        <div class="clearfix"></div>
        <h4>Portugese</h4>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="bg-parallax-module" data-position-top="50" data-position-left="20"
  data-scrollax="properties: { translateY: '-250px' }"></div>
 <div class="bg-parallax-module" data-position-top="40" data-position-left="70"
  data-scrollax="properties: { translateY: '150px' }"></div>
 <div class="bg-parallax-module" data-position-top="80" data-position-left="80"
  data-scrollax="properties: { translateY: '350px' }"></div>
 <div class="bg-parallax-module" data-position-top="95" data-position-left="40"
  data-scrollax="properties: { translateY: '-550px' }"></div>
 <div class="sec-lines"></div>
</section>