{% extends 'base/base.html' %}

{% load static %}

{% block keywords %} {% endblock %}

{% block description %} {% endblock %}

{% block title %} Password Reset {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %}


{% endblock %}

{% block header %} {% include 'partials/_header.html' %} {% endblock %}

{% block wrapper %} {% endblock %}

{% block content %}

<div class="single-page-decor"></div>
<div class="single-page-fixed-row">
 <div class="scroll-down-wrap">
  <div class="mousey">
   <div class="scroller"></div>
  </div>
  <span>Scroll Down</span>
 </div>
 <a href="{% url 'home' %}" class="single-page-fixed-row-link">
  <i class="fal fa-arrow-left"></i> <span>Back to home</span>
 </a>
</div>

<section data-scrollax-parent="true" id="sec1">
 <div class="section-subtitle" data-scrollax="properties: { translateY: '-250px' }">
  Reset Password<span>//</span>
 </div>
 <div class="container">
  <div class="fl-wrap">
   <div class="row">

    {% if email %}
    <div class="col-md-8 col-md-offset-2">
     <div class="message-text fl-wrap">
      <div class="clearfix"></div>
      <h2><span> Hi ! there, </span></h2>
      <h3>Password Reset Successfully</h3>
      <h4>To Confirm Your Raset Password, A Confirmation Code has Send to this</h4>
      <h4>{{ email }}</h4>
      <h3>Please Go to Your Email</h3>
      <div class="email-btn">
       <a href="https://mail.google.com/" target="_blank" class="btn flat-btn color-btn">Email
        Confiramation</a>
      </div>
     </div>
    </div>
    {% else %}
    <div class="col-md-3">
     <div class="pr-title fl-wrap">
      <h3>Reset Password</h3>
      <span>Lorem Ipsum generators on the Internet king this the first true generator</span>
     </div>
    </div>
    <div class="col-md-7">
     <div id="contact-form">
      <div id="message">{% include 'partials/_messages.html' %}</div>
      <form class="custom-form" action="{% url 'reset_password' %}" id="validationForm" method="POST">
       {% csrf_token %}
       <fieldset>
        <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 validationform">
          <label><i class="fal fa-envelope"></i> </label>
          <input type="email" name="email" placeholder="Email Address *" />
         </div>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn float-btn flat-btn color-btn" id="submit">Reset Password</button>
       </fieldset>
       <div class="verify-text"> Already have an account?
        <a href="{% url 'signin' %}">Sign In</a>
       </div>
      </form>
     </div>

    </div>
    {% endif %}
   </div>
  </div>
 </div>
 <div class="bg-parallax-module" data-position-top="70" data-position-left="20"
  data-scrollax="properties: { translateY: '-250px' }"></div>
 <div class="bg-parallax-module" data-position-top="40" data-position-left="70"
  data-scrollax="properties: { translateY: '150px' }"></div>
 <div class="bg-parallax-module" data-position-top="80" data-position-left="80"
  data-scrollax="properties: { translateY: '350px' }"></div>
 <div class="bg-parallax-module" data-position-top="95" data-position-left="40"
  data-scrollax="properties: { translateY: '-550px' }"></div>
 <div class="sec-lines"></div>
</section>

<section class="dark-bg2 small-padding order-wrap">
 <div class="container">
  <div class="row">
   <div class="col-md-8">
    <h3>Find me on social networks : </h3>
   </div>
   <div class="col-md-4">
    <ul>
     <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
     <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
     <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
     <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
    </ul>
   </div>
  </div>
 </div>
</section>


{% endblock %}

{% block footer %} {% include 'partials/_footer.html' %} {% endblock %}

{% block extrascripts %} {% endblock %}